body {
  width: 430px;
  height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f4f4f4;
  /* 背景颜色，可以根据需要调整 */
  background-color: rgba(255, 255, 255, 0.915);
  /* 模糊效果，数值越大模糊程度越高 */
  /* backdrop-filter: blur(20px); */
}

.app-container {
  max-width: 100%;
  margin: 0 auto;
  height: 75vh;
  background-color: white;
  flex-direction: column;
}

.app-header {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f8f8;
}

.app-logo {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
  align-items: center;
  gap: 10px;
}

.language-toggle {
  /* 设置元素的内边距为上下左右各5px和10px */
  padding: 5px 10px;
  height: inherit;
  width: 50px;
  /* 设置元素的边框为1px宽度，实线，颜色为浅灰色(#ddd) */
  border: 1px solid #ddd;
  /* 设置元素的边框圆角为15px，使边框边缘呈现圆形 */
  border-radius: 10px;
  /* 设置元素的背景颜色为白色 */
  background-color: white;
}

.app-content {
  flex-grow: 1;
  overflow-y: auto;
  height: inherit;
  display: flex;
  padding: 15px;
}

.app-footer {
  /* height: 25px; */
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 10px 0px;
  background-color: #f8f8f8;
  border-top: 0px solid #eee;
}

.nav-button {
  background: none;
  border: none;
  padding: 0px;
  font-size: x-large;
}

.nav-button.active {
  color: blue;
  font-weight: bold;
}

.search-bar {
  display: flex;
  margin-bottom: 15px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}



.personal-center {
  position: relative;
  width: 100%;
}

/* .travel-plan-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  } */

